$spacing: 4px;

.star {
    cursor: pointer;
    margin-inline-end: $spacing;
    &:last-child {
        margin-inline-end: 0px;
    }

    &.disabled {
        cursor: default;
    }

    &:focus {
        outline: 2px solid #51A4EE;
    }
}